# HedgeHouse Solana RPC Configuration
# Configured for Solana Testnet
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.testnet.solana.com

# Target Solana Cluster: testnet | devnet | mainnet-beta | localnet
NEXT_PUBLIC_SOLANA_CLUSTER=testnet

# HedgeHouse Protocol Program ID (Deployed & Verified on Testnet)
NEXT_PUBLIC_HEDGEHOUSE_PROGRAM_ID=J75RtYgFYkCk3wMbGwGrBSZVc8x3CeHFoKRnLBuoCNvi

# Test Collateral Mint (Testnet TEST USDC - No Monetary Value)
NEXT_PUBLIC_TEST_USDC_MINT=3pc31EEAFqjrBFJaeCzMHhcSCyvM8TDrSTAU17RD2cWg

# Active Testnet Market PDAs
# Miami
NEXT_PUBLIC_MIAMI_MARKET_PDA=psSrLZqVicFHikn6sD5jZxou2NZGFxK31b1xxP5vDzg
NEXT_PUBLIC_MIAMI_VAULT_PDA=7ZBYv5JzC5gzf6Vr7Cw3kSubPguTrZixpv9TuWxqV6pW
NEXT_PUBLIC_MIAMI_YES_MINT=26BGWvo49nvPaKP3V5bVcT65TPChPrKCh1M469722mj7
NEXT_PUBLIC_MIAMI_NO_MINT=9gK6Y2wqSzK8Rh926PWgYdCBP5AwDSiXN7bAqnTKrRH5

# London
NEXT_PUBLIC_LONDON_MARKET_PDA=51cBJsyuBsgBPZJfQMi7NNjZCkuCm3yusbLpVvanCk5d
NEXT_PUBLIC_LONDON_VAULT_PDA=2yWhwfTjtCvXs2qqnoVDmiFLnz9tm8JUxtYEa4A61ADk
NEXT_PUBLIC_LONDON_YES_MINT=JB4c242841sqaQpmgCmTteeKcVrHEeNKsJZUu5Rj4E5a
NEXT_PUBLIC_LONDON_NO_MINT=7mRVELcQ4BfduZuW2JSV5DafRdfpb5BVF3V5ST3tcAex

# Singapore
NEXT_PUBLIC_SINGAPORE_MARKET_PDA=FJ1m18AjKm2UcU4e7vZv62vE3EAgGbgQkQ1BrGjU5kVG
NEXT_PUBLIC_SINGAPORE_VAULT_PDA=BD57n28uVz6V6NKE1svQfmpanEpW27LHc9J4mRYBaipN
NEXT_PUBLIC_SINGAPORE_YES_MINT=3H5FGH1z6JwWX6NYd29yjhap6LHhkyag8nBB1CBeTckF
NEXT_PUBLIC_SINGAPORE_NO_MINT=g3jETujaaa6PPzqJiaCGCyUugQhJ2Pccm1T14pvmDYY

# Sydney
NEXT_PUBLIC_SYDNEY_MARKET_PDA=38RocohSt3rqvJoPuXcUDFMnLx9FF1434BFUaVAUwauy
NEXT_PUBLIC_SYDNEY_VAULT_PDA=F4fxizEAaj2Go33vjAidJxQrhzyHNxVtuJnxq2TwD9ed
NEXT_PUBLIC_SYDNEY_YES_MINT=4CEtjfijonZsPHD9MSxAhkLZwFVsKyr5EYvN1k76vSUF
NEXT_PUBLIC_SYDNEY_NO_MINT=7g86E9uMoJs9thZzveriM1YVpm3GCaXfKNejQCauRBNN
